@model SMS.Models.UserType.UserTypeModel

@using (Ajax.BeginForm("AddUserType", "UserType", new AjaxOptions { HttpMethod = "POST", OnSuccess="SuccessMethod" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.UserTypeName, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.UserTypeName, new { @class = "form-control", placeholder = "Enter User Type" })
                @Html.ValidationMessageFor(model => model.UserTypeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.UserTypeDesc, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.UserTypeDesc, new { @class = "form-control", style = "height: 125px", placeholder = "Enter Description" })
                @Html.ValidationMessageFor(model => model.UserTypeDesc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-info" />
                <input type="reset" value="Cancel" class="btn btn-warning" />
            </div>
        </div>
        <div class="form-group">
            <div id="msgBlock" class="col-md-10" />
        </div>
    </div>
}

